﻿<div id="example">
    <div id="grid"></div>

    <script>
        $(document).ready(function () {
            var parentGrid = $("#grid").kendoGrid({
                dataSource: dsCategory,
                height: 600,
                sortable: true,
                pageable: true,
                detailInit: detailInit,
                //dataBound: function () {
                //    this.expandRow(this.tbody.find("tr.k-master-row").first());
                //},
                columns: [
                    {
                        field: "DisplayOrder",
                        title: "Order",
                        width: "75px"
                    },
                    {
                        field: "CategoryName",
                        title: "Category Name"
                    },
                    {
                        field: "CategoryDesc",
                        title: "Category Description"
                    },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "200px" }
                ],
                editable: "inline",
                toolbar: ["create"]
            }).data("kendoGrid");

            $(parentGrid.element).kendoDraggable({
                filter: "tr",
                hint: function (e) {
                    var item = $('<div class="k-grid k-widget" style="background-color: DarkOrange; color: black;"><table><tbody><tr>' + e.html() + '</tr></tbody></table></div>');
                    return item;
                },
                group: "gridCategory",
            });

            parentGrid.table.kendoDropTarget({
                drop: function (e) {
                    var fromParent = dsCategory.getByUid(e.draggable.currentTarget.data("uid")) != null;
                    if (fromParent) { //row came from the 'category' grid, this is a reorder

                    }
                    var dataItem = dsCategory.getByUid(e.draggable.currentTarget.data("uid"));
                    dsCategory.remove(dataItem);
                    dsCategory.add(dataItem);
                },
                group: "gridCategory",
            });

        });

        function detailInit(e) {
            var detailGrid = $("<div/>").appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    schema: {
                        model: {
                            id: "CategoryId",
                            fields: {
                                DisplayOrder: { editable: false },
                                CategoryId: { editable: false, nullable: true },
                                CategoryName: { editable: true, validation: { required: { message: "Category name is required." } } },
                                ParentCategoryId: { editable: false }
                            }
                        }
                    },
                    transport: {
                        read: {
                            type: "GET",
                            url: "http://localhost:63427/api/category/getsubcategories",
                            dataType: "json"
                        },
                        update: {
                            type: "PUT",
                            url: "http://localhost:63427/api/category/updatecategory",
                            dataType: "json"
                        },
                        destroy: {
                            type: "DELETE",
                            url: "http://localhost:63427/api/category/deletecategory",
                            dataType: "json"
                        },
                        create: {
                            type: "POST",
                            url: "http://localhost:63427/api/category/createcategory",
                            dataType: "json"
                        }
                    },
                    //pageSize: 10,
                    filter: { field: "ParentCategoryId", operator: "eq", value: e.data.CategoryId },
                    sort: { field: "DisplayOrder", dir: "asc" }
                },
                //scrollable: false,
                scrollable: true,
                sortable: true,
                //pageable: true,
                columns: [
                    {
                        field: "DisplayOrder",
                        title: "Order",
                        width: "75px"
                    },
                    {
                        field: "CategoryName",
                        title: "Subcategory Name"
                    },
                    {
                        field: "CategoryDesc",
                        title: "Subcategory Description"
                    },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "200px" }
                ],
                editable: "inline",
                //toolbar: ["create"]
            }).data("kendoGrid");

            $(detailGrid.element).kendoDraggable({
                filter: "tr",
                hint: function (e) {
                    var item = $('<div class="k-grid k-widget" style="background-color: MediumVioletRed; color: black;"><table><tbody><tr>' + e.html() + '</tr></tbody></table></div>');
                    return item;
                },
                group: "gridSubcategory",
            });

            detailGrid.table.kendoDropTarget({
                drop: function (e) {
                    var dataSource = detailGrid.dataSource;
                    var dataItem = dataSource.getByUid(e.draggable.currentTarget.data("uid"));
                    dataSource.remove(dataItem);
                    dataSource.add(dataItem);
                },
                group: "gridSubcategory",
            });
        }

        var dsCategory = new kendo.data.DataSource({
            schema: {
                model: {
                    id: "CategoryId",
                    fields: {
                        DisplayOrder: { editable: false },
                        CategoryId: { editable: false, nullable: true },
                        CategoryName: { editable: true, validation: { required: { message: "Category name is required." } } }
                    }
                }
            },
            transport: {
                read: {
                    type: "GET",
                    url: "http://localhost:63427/api/category/getcategories",
                    dataType: "json"
                },
                update: {
                    type: "PUT",
                    url: "http://localhost:63427/api/category/updatecategory",
                    dataType: "json"
                },
                destroy: {
                    type: "DELETE",
                    url: "http://localhost:63427/api/category/deletecategory",
                    dataType: "json"
                },
                create: {
                    type: "POST",
                    url: "http://localhost:63427/api/category/createcategory",
                    dataType: "json"
                }
            },
            pageSize: 10,
            sort: { field: "DisplayOrder", dir: "asc" }
        });
    </script>
</div>