﻿<div id="example">

    <div class="box wide">
        <div class="box-col">
            <h4>Expand / Collapse</h4>
            <ul class="options">
                <li>
                    <button class="k-button" id="expandAllNodes">Expand all nodes</button>
                </li>
                <li>
                    <button class="k-button" id="collapseAllNodes">Collapse all nodes</button>
                </li>
            </ul>
        </div>

        <div class="box-col">
            <h4>Add / Remove</h4>
            <ul class="options">
                <li>
                    <input id="appendNodeText" value="Node" class="k-textbox" />
                    <button class="k-button" id="appendNodeToSelected">Append node</button>
                </li>
                <li>
                    <button class="k-button" id="removeNode">Remove node</button>
                </li>

            </ul>
        </div>

        <div class="box-col">
            <h4>DataSource interaction</h4>
            <ul class="options">
                <li>
                    <button class="k-button" id="sortDataSource">Sort</button>
                </li>
                <li>
                    <input id="filterText" value="Item 1" class="k-textbox" />
                    <button class="k-button" id="filterDataSource">Filter by text</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="demo-section k-content">
        <div id="treeview"></div>
    </div>

    <script>
        $(document).ready(function () {

            var homogenous = new kendo.data.HierarchicalDataSource({
                transport: {
                    read: {
                        type: "GET",
                        url: "http://localhost:63427/api/tree/getcategories",
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: "CategoryId",
                        hasChildren: "HasSubcategory"
                    }
                },
                sort: { field: "DisplayOrder", dir: "asc" }
            });

            function onDrop(e) {
                var dropTarget = this.dataItem(e.dropTarget);
                var destinationNode = this.dataItem(e.destinationNode)
                var source = this.dataItem(e.sourceNode);
                // whether the action is related to a root node
                //var targetsRoot = $(e.dropTarget).parentsUntil(".k-treeview", ".k-item").length == 1;
                
                console.log('destinationNode: ');
                console.log(destinationNode);
                console.log('dropTarget: ');
                console.log(dropTarget);
                console.log('dropPosition');
                console.log(e.dropPosition);
                //console.log('targetsCategory: ' + targetsCategory);
                if (source.DisplayOrder > dropTarget.DisplayOrder) {

                }
            };

            var treeview = $("#treeview").kendoTreeView({
                dataSource: homogenous,
                dataTextField: ["CategoryName"],
                loadOnDemand: true,
                dragAndDrop: true,
                drop: onDrop
            }).data("kendoTreeView");

            var handleTextBox = function (callback) {
                return function (e) {
                    if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode) {
                        callback(e);
                    }
                };
            };


            $("#removeNode").click(function () {
                var selectedNode = treeview.select();

                treeview.remove(selectedNode);
            });

            $("#expandAllNodes").click(function () {
                treeview.expand(".k-item");
            });

            $("#collapseAllNodes").click(function () {
                treeview.collapse(".k-item");
            });

            var append = handleTextBox(function (e) {
                var selectedNode = treeview.select();

                // passing a falsy value as the second append() parameter
                // will append the new node to the root group
                if (selectedNode.length == 0) {
                    selectedNode = null;
                }

                treeview.append({
                    text: $("#appendNodeText").val()
                }, selectedNode);
            });

            $("#appendNodeToSelected").click(append);
            $("#appendNodeText").keypress(append);

        });
    </script>
    <style>
        .box .k-textbox {
            width: 100px;
        }
    </style>
</div>
